body {
    padding: 0;
    margin: 30px;
  display: flex;   
 

}

#main-doc{
    margin-left: 50px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    border: dashed grey 2px;
    padding: 10px;
    margin-right: 40px;
    height: 100vh;
    border: solid green 2px;
    /* overflow: scroll; */
}
.nav-link{
    padding: 20px;
}





@media only screen and (max-width: 400px) {
  body{
    padding: 0;
    margin: 30px;
    display: block;
  }
  #navbar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
   
  }

  
#main-doc{
  margin-left: 1px;

  
  
}







